#flyoutMenu {
    width: 25vw;
    height: 200vh;
    background-color:rgb(175,63,97);
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s
                cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
  }
   
  #flyoutMenu.hide {
    transform: translate3d(-100vw, 0, 0);
  }
   
  #flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }
   
  #flyoutMenu h2 a {
    color: #333;
    margin-left: 15px;
    text-decoration: none;
  }
   
  #flyoutMenu h2 a:hover {
    text-decoration: underline;
  }




#sidebar-graphic-container {
    /* width: 20%; */
    top:0;
    bottom:0;
    left:0;
    width:100%;
    /* background-color: blue; */
    height:100%;
    position: absolute;
    padding-right: 20px;

    /* background-color: blue; */
    /* background-image: url(/src/sidebar-graphic-high-res2.png) no-repeat; */
    /* background-image:  url('/src/logo-white.png') ; */
    
    /* min-height: 100; */
      
  }

#sidebar-graphic {
    position: absolute;
    height: 100%; 
    width: 100%; 
    background-repeat: no-repeat;
    background-size: cover; 
    overflow: hidden;
    aspectRatio: 3/2;

    /* width: 100%;
    height:100%; */
    /* top:0;
    bottom:0; */
    /* padding-left: 30px; */
    /* padding-right: 20px; */
  }
  
  #sidebar-logo-and-text-container {
    /* width: 20%; */
    top:0;
    bottom:0;
    left:0;
    width:100%;
    /* background-color: blue; */
    height:100%;
    position: absolute;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    /* background-color:purple; */
    align-items: center;
    /* justify-content: center;
    text-align: center; */

    /* background-color: blue; */
    /* background-image: url(/src/sidebar-graphic-high-res2.png) no-repeat; */
    /* background-image:  url('/src/logo-white.png') ; */
    
    /* min-height: 100; */
      
  }
  #sidebar-logo-and-text-container--logo-container {
    width: 70%;
    height: 25%;
    top:0;
    /* text-align: "center"; */
    /* height: 50px; */
    /* color: #da3737; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    /* opacity: .8;  */
  }

  #sidebar-logo-and-text-container--text-container {
    width: 65%;
    height: 75%;
    bottom:0;
    /* left:0;
    right:0; */
    /* background-color:red; */
    padding-top:30px;
    padding-left:30px;
/* align-content: center; */
    /* text-align: "center"; */
    /* height: 50px; */
    /* color: #da3737; */
    display: flex;
    flex-direction: column;
    justify-content: top;
    
    /* opacity: .8;  */
  }

  .sidebar-navigation {
      text-align: left;
      color: white;
  }

  .sidebar-navigation > div {
    padding-top: 10px;
    
}



  #sidebar-text-reports-include {
    text-align: left;
    color: white;
    text-decoration: none;
    font-family: "Open Sans"; 
    font-size: 18px;
    padding-bottom: 20px;    
}

  .navlink-header {
    text-align: left;
    color: white;
    text-decoration: none;
    font-family: "Open Sans"; 
    font-size: 16px;
    font-weight: bold;
    padding-top: 6px;
    /* padding-top: 20px; */
    /* background-color: chartreuse; */

}

  .navlink-text {
    text-align: left;
    color: white;
    text-decoration: none;
    font-family: "Open Sans"; 
    font-size: 14px;
    /* padding-top: 30px; */
    /* background-color: rgb(29, 25, 255); */
    padding-left:14px;
    padding-right:14px;
    padding-bottom:2px;

}


.simple-row-container{
    display: flex;
    flex-direction: row;
   }

#welcome-screen-sidebar-container {
    left:0;
    right:0;
    top:0;
    bottom:0;
    /* background-color: aqua; */
    /* width: 25%; */
   }

#welcome-screen-text-container{
    right:0;
    width:75%;
   }

.welcome-screen-text {
    text-align: left;
    text-decoration: none;
    font-family: "Open Sans"; 
    
}

#welcome-screen-text-main-title {
    font-size: 56px;
    padding-top: 40px;
    font-weight: bold;
    color: #474646;
    padding-left:14px;

}

#welcome-screen-text-sub-title {
    font-size: 24px;
    padding-top: 6px;
    font-weight: bold;
    color: #666666;
    padding-left:14px;
}

