.horizontal-text-with-bolded-section {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #434343;
    /* background-color: blueviolet */
  
  }
  
  
  /* .horizontal-text-with-bolded-section--bold { 
    font-family: "Open Sans"; 
    font-size: 12px;
    color: #000000;
    padding-left: 6px;
    padding-right: 6px;
  }
   */